# =========================
# Virtual Environment
# =========================
venv/
env/
.venv/

# =========================
# Python Cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Environment Variables
# =========================
.env

# =========================
# Streamlit Secrets 🔐
# =========================
.streamlit/secrets.toml

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Temp Files
# =========================
*.tmp
*.bak

# =========================
# ML Project Files 🚨
# =========================

# Ignore ALL datasets
# data/

# # Ignore large models
# models/*.pkl


